
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto+Condensed:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
background-color: rgb(240,240,240) !important;
/* height: 200vh; */

}.header{
width: 100%;
height: 100vh;
position: relative;
}
.text-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_bar-top{
    width: 100%;
    height: 16vh;
    background-color: #fcf6f6;
    padding: 26px;
}
.text-content{
    display: flex;
    align-items: center;
}
.para-text{
    margin-bottom: 0px;
    font-size: 17px;
    color: rgb(0, 0, 0, 0.589);
    font-weight: 500;
    margin: 0px 4px;
   

}.span_text{
padding: 0px 6px;
}.icon-social{
       color: rgb(224,0,0);
       font-size: 21px;
       padding: 0px 5px;
       margin: 0px 7px;
       cursor: pointer;
}.icon-social:hover{
    color: rgb(117,6,6);
}.navbar-container{
    position: absolute;
    top: 70px;
    left: 52px;
    width: 90%;
    background-color: white;
    padding: 16px 38px;
    z-index: 55;
}.heading-logo{
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0px;
}.heading-logo span{
    color: rgb(233,154,8);
}

.nav-item .nav-link{
    color: rgba(8,8,8,0.685);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}.nav-item .nav-link:hover{
      color: rgba(255,102,0.0911);
}

.home-section{
    width: 100%;
    height: 84%;
}
.home-content{
    width: 100%;
    height: 84vh;
    background-position: right;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -55;
}.img-1{
   background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img1.jpg);
}
.img-2{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img1.jpg);
 }

.content-home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}.heading-home{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 22px;
}.heading-lg-home{
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 1px;
    margin:  10px 0px;
    text-align: center;
}
.btn-home{
    display: inline-block;
    padding: 18px 38px;
    background-color: rgb(209,95,2);
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600px;
    margin: 28px 0px 0px 0px;
    transition: 0.2s,ease-in;
}.btn-home:hover{
    background-color: rgb(229,120,12);
}.icon-scroll {
    color: #fff;
    background-color: #212121;
    border-color: #212121;
font-size: 20px;
}.selection{

    position: absolute;
    width: 90%;
    height: 20vh;
    bottom: -80px;
    padding: 0px 26px;
    left: 52px;
    background-color: rgb(255,250,250);
    box-shadow: 2px 2px 14px rgb(145,142,142)
}.selection-container{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}.boxes{
padding: 14px 20px;
width: 180px;
margin: 0px 10px;
outline: none;
}.select-btn{

display: inline-block;
padding: 14px 30px;
background-color: rgb(209,95,2);
text-decoration: none;
color: white;
font-size: 16px;
font-weight: 600;
margin: 0px 10px;
transition: 0.3s ease-in;

}.select-btn:hover{
    background-color: rgb(206,176,2);
}

.about{
    width: 100%;
    height: 100vh;
    margin-top: 120px;
}
.heading-about{
color: #000;
display: block;
font-size: 37px;
font-weight: 700;
line-height: 50px;
text-transform: uppercase;
text-align: center;
padding: 20px, 0px;
position: relative;
}

.heading-about::before{
    content: '';
    position: absolute;
    top: 44px;
    left: 134px;
    width: 80px;
    /* background-color: red; */
    height: 3px;
    width: 149px;

}


.heading-about::after{
    content: ' ';
    position: absolute;
    top: 44px;
    left: 134px;
    width: 80px;
    /* background-color: red; */
    height: 3px;
    width: 149px;

}.para-about-details{
    display: block;
    color: #000;
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 0px;
    text-align: center;
    max-width: 1000px;
    margin: auto;
}.about-us-content{
    margin-top: 50px;
}
.img-about{
    width: 100%;
    height: 380px;
}.image-content{
    width: 100%;
    height: 100% !important;
}.heading-content{
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    color: rgb(209,66,0);
    padding: 10px 20px;

}.para-content-about{
    font-size: 15px;
    text-align: center;
    line-height: 26px;
    font-weight: 500;
    color: rgba(0,0,0,0.74);
}.services{
    width: 100%;
    height: 100vh;
    padding: 24px 0px;
    text-align: center;

}.heading_sm{
    text-transform: uppercase;
    color: #7ab730 !important;
    letter-spacing: 3px;
    font-size: 21px;
}.heading_lg{
    font-size: 44px;
    font-weight: 800;
    margin: 20px 0px;
}.container-services{
    margin-top: 66px;
}





.content-services{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 14px;
    transition: 0.3s ease;
    

}


.img-service{
  width: 100px;
  height: 100px;
  margin-bottom: 11px;

}.heading-tour{
    font-size: 19px;
    margin: 7px 0px;
    font-weight: 700;

}
.para-tour{
    font-size: 14px;
    color: rgba(0,0,0,0.747);
    font-weight: 600;
    line-height: 26px;
    max-width: 8px 0px;

}.btn-service{
    display: inline-block;
    padding: 10px 26px;
    background-color: rgb(209,95,2);
    text-decoration: none;
    color: white;
    font-weight: 500;
    border-radius: 30px;
    margin: 10px 0px;
    transition: 0.2s ease;

}.content-services:hover{
    transform: translateY(-6px);
    box-shadow: 2px 2px 14px gray;

}.content-services:hover .btn-service{
    background-color: rgb(5,97,189);
    color: white;
}
.packages{
    width: 100%;
    /* height: 100vh; */
    text-align: center;
    padding: 16px 0px;
    margin: 30px 0px;

    
}

.container-packages{
margin-top: 62px;
}

.content-packages{
    width: 100%;
    height: auto;
    background-color: white;
transition: 0.2s ease;

}

.content-packages:hover{
     box-shadow: 1px 1px 10px gray;
}
.img-package{
    width: 100%;
    height: 240px;
}.image-package{
    width: 100%;
    height: 100%;
}.content-package-container{
    padding: 18px;
}.details-package{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}.icon-details{
    color: rgb(13,196,13);
    padding: 0px 8px;
    font-size: 13px

}.detail-text{
    font-size: 14px;
    font-weight: 600;
    color: rgba(0,0,0,0.699);
}.heading-content-package{
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: left;
    color: rgba(0,0,0,0.91);
    margin: 8px 0px;
}.rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}.rate{
    font-size: 15px;
    font-weight: 500;
}.stars{
    color: rgba(13,196,13);
    font-size: 15px;
    padding: 0px 8px;

}

footer{
    width: 100%;
    height: 90vh;
    background-color: rgb(31,29,29);
    padding: 24px;
}.footer-container{
    margin-top: 20px;
    padding: 30px 4px 9px 4px;
}.footer-logo{
    color: rgba(255,255,255,0.863);
    letter-spacing: 2px;
    font-weight: 800;
}.footer-para{
    font-size: 14px;
    line-height: 30px;
    color: rgba(255,255,255,0.534);
    margin: 25px 0px;
}.heading-sm-footer{
    color: rgba(255,255,255,0.863);
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: 700;
    margin: 18px 0px;

}.social-links-footer{
    margin: 16px 0px;
}.icon-social-footer{
    font-size:21px ;
    padding: 9px;
    border: 1px solid rgb(13,196,13);
    color: rgb(13,196,13);
    margin: 0px 4px;
    cursor: pointer;
    transition: 0.2s ease-in;

}.icon-social-footer:hover{
    background-color: rgb(13,196,13);
    color: white;
}

.pages-footer{
    padding: 6px 18px;
}
.heading-pages{
    color: rgba(255,255,255,0.863);
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 18px;

}

.footer-links{
    font-size: 15px !important;
    color: rgba(255,255,255,0.534) !important;
}
.footer-links:hover{
color: white !important;
}.contact-footer{
    display: flex;
    flex-direction: column;
}.text-contact{
    margin: 16px 0px;
    color: white;
    font-size: 19px;
    color: rgba(255,255,255,0.534);
}.footer-icons{
    font-size: 19px;
    color: rgba(255,255,255,0.863);
    padding: 0px 9px;
}
.footer-rights{
    margin-top: 22px;
    border-top: 1px solid rgba(255,255,255,0.32);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}.rights-para{
    margin: 0px;
    color: rgba(255,255,255,0.623);
    font-size: 16px;
}